* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.filter-container {
    /* border: 1px solid #000000; */
}

.filter-in-con {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.filter-in-con div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    height: 50px;
    flex: 1;
    transition: all 0.3s ease-in-out;
    font-weight: 700;
    letter-spacing: 0.5rem;
    cursor: pointer;
}

.filter-bg {
    transition: all 0.3s ease-in-out;
    height: 50px;
    position: absolute;
    width: 50%;
}

.items-list {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 50px;
    padding: 40px;
    width: 100%;
}

.item-card {
    border: 1px solid #000000;
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 20px;
    max-width: 300px;
    width: 100%;
}
.item-card img {
    max-width: 300px;
    aspect-ratio: 16/9;
    object-fit: cover;
    height: auto;
}
.item-card p {
    font-size: 0.9rem;
    color: #333333a7;
    min-height: 45px;
}
.item-card h2 {
    font-family: "Lora", serif;
    font-size: 1.5rem;
    font-weight: 600;
    text-transform: capitalize;
    margin-bottom: 8px;
}
.search {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
    max-width: 300px;
    float: right;
    margin: 20px 0;
    border: none;
    border-bottom: 1px dotted #2c2c2f;
}
.search input {
    width: 100%;
    border-radius: 0;
    padding: 0 10px;
    font-size: 1rem;
    border: none;
}
.search input:focus {
    outline: none;
    border: none;
}
.search button {
    height: 45px;
    border: none;
    padding: 0 20px;
    margin: 0;
    background-color: transparent;
    font-weight: 600;
    cursor: pointer;
}

.search button:hover {
    background-color: #2c2c2f;
    color: #fff;
    border-radius: 0;
    transform: scale(1);
}
@media (max-width: 768px) {
    .items-list {
        grid-template-columns: 1fr;
        padding: 10px;
        gap: 30px;
    }
    .item-card {
        max-width: 100%;
        margin: auto;
    }
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
